%h3 Start A League

= simple_form_for(@form, url: leagues_path, method: :post) do |f|
  = f.input :name, placeholder: "Name", label: false#, readonly: @form.readonly?(:name)

  = f.submit

= @form.errors.messages
