.callout.large
  .row.column.text-center
    %h1
      Welcome to Fantasia
    %p.lead
      Not your average Mickey Mouse fantasy site.
    = link_to "Sign Up", sessions_sign_up_form_path, class: "button large"
