.callout.large
  .row.column.text-center
    %h1
      Leagues
      = link_to "Create League", new_league_path, class: "button"

    .row.small-up-1.medium-up-2.large-up-3
      - League.popular.each do |league|
        .column
          .callout
            = link_to league_path(league) do
              #{league.name}
              = image_tag "/assets/logos/mickey_01.svg", size: "300"
