- if policy.(:edit?)
  - if name.present?
    %h2 #{name}
    .roster
      %ul
        - players.each do |player|
          %li #{player.name}
  - else
    = link_to "Set-up your team!", edit_team_path(model), class: "button"

- elsif policy.(:show?)
  Visitor view????
